.facehash-inline-avatar {
  position: relative;
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
}

.facehash-inline-avatar > .facehash-inline-svg {
  display: block;
  width: 100%;
  height: 100%;
}

.facehash-inline-avatar > img.facehash-inline-hidden {
  position: absolute !important;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.facehash-inline-avatar.facehash-inline-hover .facehash-inline-svg {
  transition:
    transform 180ms cubic-bezier(0.2, 0.8, 0.2, 1),
    filter 180ms ease;
  transform-origin: 50% 50%;
}

.facehash-inline-avatar.facehash-inline-hover:hover .facehash-inline-svg {
  transform: translateY(-1px) scale(1.02);
  filter: saturate(1.04);
}
